<% layout('layout/app') %>
<main class="container-fluid">
    <h1><%= post.title %></h1>

    <div class="post">
        <img src="<%= post.image %>" alt="">
        <p><i><%= post.description %></i></p>
        <p><%= post.body %></p>
    </div>
</main>